/* Layout */
body { display: grid; place-items: center; min-height: 80vh; }
body > div { min-width: 60ch; max-width: 80ch; }
header, footer { text-align: center; }

/* Theme */
body { color: #edc; background-color: #211; }

a { color: #fb7; text-decoration: none; font-weight: bolder; }
